http:
  middlewares:
    cors:
      headers:
        accessControlAllowOriginList:
          - "*"
        accessControlAllowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "OPTIONS"
        accessControlAllowHeaders:
          - "DNT"
          - "User-Agent"
          - "X-Requested-With"
          - "If-Modified-Since"
          - "Cache-Control"
          - "Content-Type"
          - "Range"
          - "Authorization"
        accessControlMaxAge: 1728000
        addVaryHeader: true
